# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and outputs
data/
results/
logs/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
